## Q1. What is data encoding? How is it useful in data science?

Data encoding, also known as data transformation or data conversion, is the process of converting data from one representation or format to another. In the context of data science, data encoding is used to convert categorical or textual data into numerical form, which is more suitable for machine learning algorithms and data analysis.

Data encoding is useful for several reasons:

**Numerical Representation**: Many machine learning algorithms and statistical models require numerical inputs. Data encoding enables the conversion of categorical features, such as gender (e.g., "male" and "female") or city names, into numerical values (e.g., 0 and 1, or 1, 2, 3, etc.) that can be processed by these algorithms.

**Data Standardization**: Data encoding helps to standardize data across different sources or systems. By converting data to a common numerical format, data scientists can work with consistent representations of categorical variables.

**Efficient Computation**: Numerical data is easier and faster to compute compared to text or categorical data. Machine learning algorithms often involve extensive mathematical operations, and encoding data into numerical form can significantly speed up the computation process.

**Feature Engineering**: Data encoding is an essential part of feature engineering, where data scientists transform raw data into meaningful features that can enhance model performance and predictive accuracy.

**Handling Missing Values**: Data encoding can also help in handling missing values. For example, if a categorical feature contains missing values, data encoding can assign a specific value to represent those missing entries.

Common methods of data encoding in data science include:

1. Label Encoding: Assigning unique integers to each category in a categorical variable.
2. One-Hot Encoding: Creating binary columns for each category, indicating the presence (1) or absence (0) of that category.
3. Ordinal Encoding: Assigning integers to categories based on a predefined order or ranking.
4. Binary Encoding: Converting categories to binary representation and then encoding them as integers.
5. Hash Encoding: Using hash functions to convert categories into numerical representations.

## Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

One hot encoding, also known as nominal encoding, is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category.

In [1]:
#For example, if we have a dataset that contains Car Model and Fuel Type:
import pandas as pd

data = {"Car Model ": ['Volkswagon Vento','Mecedes GLA 200','Tata Nexon','BMWX5','Maruthi Grand Vitata','XUV500'],
        "Fuel Type" : ['Diesel','Petrol','Electric','Petrol','Hybrid','Diesel']}

df = pd.DataFrame(data)
df

             Car Model  Fuel Type
0      Volkswagon Vento    Diesel
1       Mecedes GLA 200    Petrol
2            Tata Nexon  Electric
3                 BMWX5    Petrol
4  Maruthi Grand Vitata    Hybrid
5                XUV500    Diesel

In [2]:
from sklearn.preprocessing import OneHotEncoder

encode = OneHotEncoder()
encoded_values = encode.fit_transform(df[['Fuel Type']]).toarray()

encoded_df = pd.DataFrame(encoded_values,columns=encode.get_feature_names_out())
encoded_df

   Fuel Type_Diesel  Fuel Type_Electric  Fuel Type_Hybrid  Fuel Type_Petrol
0               1.0                 0.0               0.0               0.0
1               0.0                 0.0               0.0               1.0
2               0.0                 1.0               0.0               0.0
3               0.0                 0.0               0.0               1.0
4               0.0                 0.0               1.0               0.0
5               1.0                 0.0               0.0               0.0

In [3]:
pd.concat([df,encoded_df],axis =1)

,Car Model,Fuel Type,Fuel Type_Diesel,Fuel Type_Electric,Fuel Type_Hybrid,Fuel Type_Petrol
0,Volkswagon Vento,Diesel,1.0,0.0,0.0,0.0
1,Mecedes GLA 200,Petrol,0.0,0.0,0.0,1.0
2,Tata Nexon,Electric,0.0,1.0,0.0,0.0
3,BMWX5,Petrol,0.0,0.0,0.0,1.0
4,Maruthi Grand Vitata,Hybrid,0.0,0.0,1.0,0.0
5,XUV500,Diesel,1.0,0.0,0.0,0.0

## Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

There is like a small difference in Label encoding we give unique numbers to categories like 1,2,3,4,5 etc.Here there is only 1 diension as there is a numerical value assigned to each group

But in One-hot encoding, on the other hand, creates a binary column for each category, indicating the presence (1) or absence (0) of that category.Here there is a significant increase in dimension because the more the categories there will same number of dimensions

In a model where increase in dimensions leads to complexity in such a case Nominal/Label Encoding is preffered,Whereas a model where Binary inputs are accepted in such a case One Hot Encoding is preffered.

In [4]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {"Car Model ": ['Volkswagon Vento','Mecedes GLA 200','Tata Nexon','BMWX5','Maruthi Grand Vitata','XUV500'],
        "Fuel Type" : ['Diesel','Petrol','Electric','Petrol','Hybrid','Diesel']}

df = pd.DataFrame(data)

encode = OneHotEncoder()
encoded_values = encode.fit_transform(df[['Fuel Type']]).toarray()

encoded_df = pd.DataFrame(encoded_values,columns=encode.get_feature_names_out())
encoded_df

   Fuel Type_Diesel  Fuel Type_Electric  Fuel Type_Hybrid  Fuel Type_Petrol
0               1.0                 0.0               0.0               0.0
1               0.0                 0.0               0.0               1.0
2               0.0                 1.0               0.0               0.0
3               0.0                 0.0               0.0               1.0
4               0.0                 0.0               1.0               0.0
5               1.0                 0.0               0.0               0.0

In [5]:
from sklearn.preprocessing import LabelEncoder

data = {"Car Model ": ['Volkswagon Vento','Mecedes GLA 200','Tata Nexon','BMWX5','Maruthi Grand Vitata','XUV500'],
        "Fuel Type" : ['Diesel','Petrol','Electric','Petrol','Hybrid','Diesel']}

df = pd.DataFrame(data)

label_encode = LabelEncoder()
label_encode.fit_transform(df['Fuel Type'])

array([0, 3, 1, 3, 2, 0])

## Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.


If the dataset contains categorical data with 5 unique values, and there is no inherent order or ranking among the categories, I would prefer to use one-hot encoding to transform the data into a format suitable for machine learning algorithms.

Explanation for choosing one-hot encoding:

**Nominal Data**: Since the data has 5 unique values with no inherent order, it is nominal data. One-hot encoding is the most appropriate technique for nominal data because it converts each category into a binary vector representation, effectively removing any numerical relationship between the categories.

**Avoiding Ordinality**: One-hot encoding ensures that no ordinality is imposed among the categories. Each category is represented as a binary vector with a single '1' and the rest '0's, which prevents the model from interpreting any magnitude or rank relationship among the categories.

**Model Interpretability**: One-hot encoding provides better interpretability for the model's predictions. The encoded binary vectors directly represent the presence or absence of each category, making it easier to understand the impact of each category on the model's output.

**Sparse Representation**: One-hot encoding creates a sparse representation of the data, which is efficient in terms of memory usage and computation. Only one element in each binary vector is '1', reducing the amount of memory needed to store the encoded features.

**Compatibility with Algorithms**: Many machine learning algorithms, such as logistic regression, decision trees, and support vector machines, are designed to work with numerical inputs. One-hot encoding converts categorical data into numerical form, making it compatible with a wide range of machine learning algorithms.

## Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.


When using nominal encoding to transform categorical data, the number of new columns created is equal to the number of unique categories in the original categorical columns. Each unique category is represented as a binary vector, where one column is created for each category.

Let's assume the two categorical columns have the following number of unique categories:

<br>Categorical Column 1: 4 unique categories
<br>Categorical Column 2: 5 unique categories

To calculate the total number of new columns created:

<br>Total New Columns = Unique Categories in Categorical Column 1 + Unique Categories in Categorical Column 2
<br>= 4 + 5
<br>= 9

Therefore, when using nominal encoding to transform the two categorical columns, a total of 10 new columns will be created. Each row in the dataset will have 10 binary columns, representing the one-hot encoded values for the 4 unique categories in Categorical Column 1 and the 6 unique categories in Categorical Column 2. The rest of the three numerical columns will remain unchanged in the transformed dataset.

<br>Total number of Columns in the dataset = 9 + 3 numerical coloumns
<br>= 12

## Q6. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

For transforming the categorical data in the dataset containing information about different types of animals, including their species, habitat, and diet, I would use one-hot encoding.

Justification for using one-hot encoding:

1. Nominal Data: The categorical variables in the dataset, such as species, habitat, and diet, are nominal data. Nominal data represents categories without any inherent order or ranking. One-hot encoding is ideal for handling nominal data because it transforms each category into a binary vector representation, ensuring no ordinality is imposed among the categories.

2. Preserving Meaning: One-hot encoding preserves the meaning of the categorical variables. Each category is represented as a binary vector with a single '1' and the rest '0's, indicating the presence or absence of a particular category for each data point. This representation maintains the individuality of each category, which is crucial in animal species, habitat, and diet classifications.

3. Interpretability: One-hot encoding provides better interpretability for the model's predictions. The encoded binary vectors directly represent the presence or absence of each category, making it easier to interpret the influence of each category on the model's output.

4. Sparse Representation: One-hot encoding results in a sparse representation, especially when dealing with datasets containing multiple categorical variables with many unique categories. This sparse representation is memory-efficient and computationally efficient, which is beneficial when working with large datasets.

5. Compatibility with Algorithms: One-hot encoding transforms categorical data into numerical form, making it compatible with a wide range of machine learning algorithms that require numerical inputs. Various classification algorithms, such as logistic regression, decision trees, and support vector machines, work well with one-hot encoded data.

## Q7.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

In [6]:
import pandas as pd

dff= pd.DataFrame({
    'gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'age': [25, 35, 28, 42, 30],
    'contract type': ['month-to-month', 'one year', 'two years', 'month-to-month', 'one year'],
    'monthly charges': [50.0, 65.0, 80.0, 55.0, 75.0],
    'tenure': [10, 20, 15, 5, 12]
})

dff

   gender  age   contract type  monthly charges  tenure
0    Male   25  month-to-month             50.0      10
1  Female   35        one year             65.0      20
2    Male   28       two years             80.0      15
3  Female   42  month-to-month             55.0       5
4    Male   30        one year             75.0      12

In [7]:
#Categorical Columns are Gender and Contract Type
#One Hot Encoding for Gender
from sklearn.preprocessing import OneHotEncoder

encodingg = OneHotEncoder()
val = encodingg.fit_transform(dff[['gender']]).toarray()

encode_df= pd.DataFrame(val,columns=encodingg.get_feature_names_out())
encode_df

dff = pd.concat([dff,encode_df],axis = 1)

In [8]:
#Label Encoding for Contract type
from sklearn.preprocessing import OrdinalEncoder

ordinal = OrdinalEncoder(categories=[["month-to-month","one year","two years"]])
dff['contract_type_ranking'] = pd.DataFrame(ordinal.fit_transform(dff[['contract type']]))
dff

,gender,age,contract type,monthly charges,tenure,gender_Female,gender_Male,contract_type_ranking
0,Male,25,month-to-month,50.0,10,0.0,1.0,0.0
1,Female,35,one year,65.0,20,1.0,0.0,1.0
2,Male,28,two years,80.0,15,0.0,1.0,2.0
3,Female,42,month-to-month,55.0,5,1.0,0.0,0.0
4,Male,30,one year,75.0,12,0.0,1.0,1.0