Q1.Create one variable containing following type of data : 
(i) string
(ii) list
(iii) float
(iv) tuple

In [113]:
a = "Rachit"
b = [12,45,"Dani",True,"abc"]
c = 15.89
d = (20 , "jam" , 34+4j , [12,45,56] )

In [114]:
type(a)

str

In [115]:
type(b)

list

In [116]:
type(c)

float

In [117]:
type(d)

tuple

Q2.Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [118]:
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

In [119]:
type(var1)

str

In [120]:
type(var2)

str

In [121]:
type(var3)

list

In [122]:
type(var4)

float

Q3.Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [123]:
# / is the division operator
35 / 2

17.5

In [124]:
# % is the modulus operator tell us the remainder of the division
35 % 2

1

In [125]:
# // is the floor division returns the floor value after division
35 // 2

17

In [126]:
# ** is the power operator 
2 **3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [127]:
l = [12,47,"apple","banana",638,92,12,"gems",63,"maggi"]

In [128]:
len(l)

10

In [129]:
for i in l:
    print("Element : ",i,"\nData Type :",type(i))
    
else:
    print("Sucessfuly iterated across all the elements")

Element :  12
Data Type : <class 'int'>
Element :  47
Data Type : <class 'int'>
Element :  apple
Data Type : <class 'str'>
Element :  banana
Data Type : <class 'str'>
Element :  638
Data Type : <class 'int'>
Element :  92
Data Type : <class 'int'>
Element :  12
Data Type : <class 'int'>
Element :  gems
Data Type : <class 'str'>
Element :  63
Data Type : <class 'int'>
Element :  maggi
Data Type : <class 'str'>
Sucessfuly iterated across all the elements

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [130]:
a=10
b=2


while a%b==0 :
    print(a," is purely divisible by " , b ," and is divisible " ,int((a/b)), " times")
    break
    
else:
    print(a ,"is not purely divisible by " ,b)

10  is purely divisible by  2  and is divisible  5  times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [131]:
for i in range(1,26) :
    if (i%3 == 0):
        print(f"{i} is divisible by 3")
    else : 
        print(f"{i} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable objects can be modified after its created whereas immutable objects cannot be modified once created.

In [132]:
name = "Rachit"

In [133]:
list = [12,"apple","kiwi","mango",10]

In [134]:
name[2]

'c'

In [135]:
list[0]

12

In [136]:
list[0] ="pear" #lists are mutubale objects

In [137]:
list

['pear', 'apple', 'kiwi', 'mango', 10]

In [139]:
name[2]='n' #strings are immutable objects thats why there is error when we try to chnage the index value however we can modify value by using string functions

TypeError: 'str' object does not support item assignment